/* Variables */

$white: #fff;
$black: #000;

$transperantWhite1: rgba(255, 255, 255, 0.5);
$transperantWhite2: rgba(255, 255, 255, 0.2);

$lightBlue1: #80deea;
$lightBlue2: #03a9f4;

/* Border Radius */
$borderRadius1: 1rem;

/* Box Shadows */
$boxShadow1: 15px 25px 20px rgba(0,0,0,0.1);

/* Font Variables */
$font: 'Poppins', san-serif;
